body {
  background-color:darkslateblue;
  font-family: monospace;
  color: aliceblue;
}

.p-20px {
  font-size: 20px;
}

.p-25px {
  font-size: 25px;
}

.p-30px {
  font-size: 30px;
}

/* ------------------------------- */

.p-20em {
  font-size: 1.25em;
}

.p-25em {
  font-size: 1.56em;
}

.p-30em {
  font-size: 1.875em;
}