 body {
 background-color: ghostwhite;
  font-family: sans-serif;
}

.p-uppercase {
  text-transform: uppercase;
}

.p-lowercase {
  text-transform: lowercase;
}

.p-capitalize {
  text-transform: capitalize;
}