body {
  background-color: darksalmon;
}

.ex1 {
  font: 20px Arial, sans-serif;
}

.ex2 {
  font: italic bold 16px Arial, sans-serif;
}

.ex3 {
  font: italic small-caps bold 40px/20px Georgia, serif;
}