body {
  background-color: lightgray;
  font-family: monospace;
}

.link-linkedin {
  color: black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.link-linkedin:hover {
  color: orange;
}

.icone-linkedin {
  font-size: 30px;
}

.icone-codigo {
  font-size: 60px;
}

.icone-codigo:hover {
  color: crimson;
}